# Configuration file

enabled {
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"bewitchment:coquina_bricks"=true
    B:"bewitchment:cypress_planks"=true
    B:"bewitchment:dragons_blood_planks"=true
    B:"bewitchment:elder_planks"=true
    B:"bewitchment:juniper_planks"=true
    B:"bewitchment:scorned_bricks"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
    B:"railcraft:brick_abyssal"=true
    B:"railcraft:brick_bleachedbone"=true
    B:"railcraft:brick_bloodstained"=true
    B:"railcraft:brick_frostbound"=true
    B:"railcraft:brick_infernal"=true
    B:"railcraft:brick_nether"=true
    B:"railcraft:brick_pearlized"=true
    B:"railcraft:brick_quarried"=true
    B:"railcraft:brick_red_nether"=true
    B:"railcraft:brick_red_sandy"=true
    B:"railcraft:brick_sandy"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


